﻿@{
    ViewBag.Title = "Board Games Collection Manager";
}
@section scripts{
    @Scripts.Render("~/bundles/angular")
    <script src="@Url.Content("~/Scripts/ng-scripts/app.js")"></script>
}
<h3>Board Games List</h3>
<div ng-app="app">
    <div ng-controller="GamesController as gamesCtrl">
        <button ng-click="gamesCtrl.show = 2" class="btn btn-default">Add New Game <span class="glyphicon glyphicon-plus"></span></button>
        <div ng-show="gamesCtrl.show === 1">
            <table class="table">
                <thead>
                <tr>
                    <th>Game Id</th>
                    <th>Game Name</th>
                    <th>Game Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="game in gamesCtrl.games">
                    <th>
                        {{game.GameId}}
                    </th>
                    <th>
                        {{game.GameName}}
                    </th>
                    <th>
                        {{game.GameDescription}}
                    </th>
                    <th>
                        <a ng-click="gamesCtrl.edit(game)" class="glyphicon glyphicon-pencil"></a>
                        &nbsp;
                        <a ng-click="gamesCtrl.delete(game)" class="glyphicon glyphicon-remove"></a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <form name="addGameForm" ng-controller="AddGameController as addGameCtrl"
              ng-submit="addGameForm.$valid && (gamesCtrl.show = 1 ) === 1 &&  addGameCtrl.add(gamesCtrl.games)"
              ng-show="gamesCtrl.show === 2" novalidate>
            <h3>Add new game</h3>
            <fieldset>
                <label>Game Name</label>
                <input ng-model="addGameCtrl.game.GameName" type="text" class="form-control" placeholder="Enter Game Name" required/>
            </fieldset>
            <fieldset>
                <label>Game Description</label>
                <input ng-model="addGameCtrl.game.GameDescription" type="text" class="form-control" placeholder="Enter Game Name" required/>
            </fieldset>
            <div>Form is {{addGameForm.$valid ? 'valid' : 'invalid'}}</div>
            <br/>
            <button type="submit" class="btn btn-primary">Add to Collection</button>
            <button class="btn" type="button" ng-click="gamesCtrl.show = 1">Cancel</button>
        </form>
        <form name="updateGameForm" ng-controller="UpdateGameController as updateGameCtrl"
              ng-submit="updateGameForm.$valid && (gamesCtrl.show = 1 ) === 1 && updateGameCtrl.update()"
              ng-show="gamesCtrl.show === 3" novalidate>
            <h3>Update game</h3>
            <fieldset>
                <label>Game Id</label>
                {{updateGameCtrl.game.GameId}}
            </fieldset>
            <fieldset>
                <label>Game Name</label>
                <input ng-model="updateGameCtrl.game.GameName" type="text" class="form-control" placeholder="Enter Game Name" required/>
            </fieldset>
            <fieldset>
                <label>Game Description</label>
                <input ng-model="updateGameCtrl.game.GameDescription" type="text" class="form-control" placeholder="Enter Game Name" required/>
            </fieldset>
            <div>Form is {{updateGameForm.$valid ? 'valid' : 'invalid'}}</div>
            <br/>
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn" type="button" ng-click="gamesCtrl.show = 1">Cancel</button>
        </form>
        <form name="deleteGameForm" ng-controller="DeleteGameController as deleteGameCtrl"
              ng-submit="(gamesCtrl.show = 1 ) === 1 && deleteGameCtrl.delete(gamesCtrl.games)"
              ng-show="gamesCtrl.show === 4">
            <h3>Delete this game?</h3>
            <fieldset>
                <label>Game Id</label>:
                {{deleteGameCtrl.game.GameId}}
            </fieldset>
            <fieldset>
                <label>Game Name</label>:
                {{deleteGameCtrl.game.GameName}}
            </fieldset>
            <fieldset>
                <label>Game Description</label>:
                {{deleteGameCtrl.game.GameDescription}}
            </fieldset>
            <br/>
            <button type="submit" class="btn btn-danger">Delete</button>
            <button class="btn" type="button" ng-click="gamesCtrl.show = 1">Cancel</button>
        </form>

    </div>
</div>
